@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #DDD6BD;
  --color-secondary: #325977;
}

body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
  letter-spacing: 0.07em;
}

p, span, input {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

.btn {
  @apply text-base-100 shadow-none;
}

.btn-outline {
  @apply text-primary
}

.btn-outline:hover {
  @apply bg-primary/10;
}

button.btn:disabled {
  @apply bg-black/10 text-gray-400 shadow-none;
}
