@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #166534;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
  --color-neutral: #111827;
  --base-100: #F0F8E8;
  --base-content: #374151;
  --color-primary-content: #fff;
  --color-error-content: #fff;
  --color-success-content: #fff;
  --color-info: #3B82F6;
  --color-success: #10B981;
  --color-warning: #FACC15;
  --color-error: #EF4444;
}
 
:root {
  color: var(--base-content);
}

hr {
  @apply border-gray-600/30
}

input[type="text"], input[type="email"] {
  @apply bg-gray-800/20 rounded-lg w-full px-4 py-2 focus:outline-none;
}

select {
  @apply bg-gray-800/20 rounded-lg w-full px-4 py-2 focus:outline-none;
}

input[type="password"] {
  @apply focus:outline-none;
}

div:has(> input[type="password"]) {
  @apply bg-gray-800/20 rounded-lg focus:outline-none;
}


html {
  background-color: var(--base-100);
}

body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
  letter-spacing: 0.07em;
}

p, span, input {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

.btn {
  @apply text-base-100 shadow-none;
}

.btn-outline {
  @apply text-primary
}

.btn-outline:hover {
  @apply bg-primary/10;
}

button.btn:disabled {
  @apply bg-black/10 text-gray-400 shadow-none;
}
